#pantallaIcono {
    position: relative;
}

#screen-nubes {
    position: relative;
    height: 310px;
    width:100%;
    background: url(../../public/Cloud-background.png) center center no-repeat;
    opacity: 0.06;
    background-size: cover;
}

#iconoGrande {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pantallas grandes con anchos menores a 1328px (desktops)*/
@media screen and (max-width: 1327.98px) {}

/* Pantallas grandes con anchos menores a 1024px (desktops)*/
@media screen and (max-width: 1023.98px) {}

/* Pantallas medianas con anchos menores a 960px(tablets) */
@media screen and (max-width: 959.98px) {}

/* Pantallas pequeñas con anchos menores a 768px(móviles en landscape) */
@media screen and (max-width: 767.98px) {}

/* Pantallas muy pequeñas con anchos menores a 480px(móviles en portrait) */
@media screen and (max-width: 479.98px) {

}

/* Pantallas muy pequeñas con anchos menores a 376px(móviles en portrait) */
@media screen and (max-width: 375.98px) {
    #screen-nubes {
        height: 250px;
        background-size: 150% 100%;
    }    
}

/* Pantallas muy pequeñas con anchos menores a 320px(móviles en portrait) */
@media screen and (max-width: 319.98px) {}