#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px;
}

#btn-search {
    color: #E7E7EB;
    background-color: #6E707A;
    font-size: 16px;
    width: 161px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

#btn-location {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #6E707A;
    cursor: pointer;
}

#icon-location {
    fill: #E7E7EB;
}

/* Pantallas grandes con anchos menores a 1328px (desktops)*/
@media screen and (max-width: 1327.98px) {}

/* Pantallas grandes con anchos menores a 1024px (desktops)*/
@media screen and (max-width: 1023.98px) {}

/* Pantallas medianas con anchos menores a 960px(tablets) */
@media screen and (max-width: 959.98px) {}

/* Pantallas pequeñas con anchos menores a 768px(móviles en landscape) */
@media screen and (max-width: 767.98px) {}

/* Pantallas muy pequeñas con anchos menores a 480px(móviles en portrait) */
@media screen and (max-width: 479.98px) {
    #search {
        padding: 12px;
        padding-top: 18px;
    }
}

/* Pantallas muy pequeñas con anchos menores a 320px(móviles en portrait) */
@media screen and (max-width: 319.98px) {}