@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

#main-container {
  min-height: 100vh;
  background-color: #100E1D;
  color: #E7E7EB;
  display: flex;
  flex-direction: row;
}

#first-container {
  background-color: #1E213A;
  color: #88869D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 375px;
}

#second-container {
  padding: 25px 120px;
}

#footer {
  color: #A09FB1;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}

#footer > a {
  color: #A09FB1;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/* Pantallas grandes con anchos menores a 1328px (desktops)*/
@media screen and (max-width: 1327.98px) {}

/* Pantallas grandes con anchos menores a 1024px (desktops)*/
@media screen and (max-width: 1023.98px) {}

/* Pantallas medianas con anchos menores a 960px(tablets) */
@media screen and (max-width: 959.98px) {

}

/* Pantallas pequeñas con anchos menores a 768px(móviles en landscape) */
@media screen and (max-width: 767.98px) {
  #main-container {
    flex-direction: column;
  }
  #first-container {
    width: 100%;
  }
}

/* Pantallas muy pequeñas con anchos menores a 480px(móviles en portrait) */
@media screen and (max-width: 479.98px) {
  #second-container {
    padding: 50px;
  }
}

/* Pantallas muy pequeñas con anchos menores a 320px(móviles en portrait) */
@media screen and (max-width: 319.98px) {}